.header-container{
    background-color: var(--bg-secondary);
    padding: 1rem 2rem;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}
.header-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
.sidebar{
    padding: 2rem;
    background-color: var(--bg-primary);
    position: fixed;
    top: 5rem;
    left: 0;
    width: 30rem;
    min-height: 100vh;
}
.sidebar .districts{
    scrollbar-width: none;
    overflow-y: scroll;
    height: 30rem;
}
.sidebar .districts::scrollbar{
    display: none;
}
.districts .district{
    font-size: var(--fs-text);
}
.notification{
    position: relative;
}
.notification svg{
    width:4rem;
    height:fit-content;
    transform: scale(-1,1)
}
.notification path{
    fill: var(--white-color);
}
.num-noti{
    position: absolute;
    top: -1rem;
    right: -2rem;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius:3rem;
    font-size:var(--fs-small);
    font-weight: var(--fw-bold);
    background-color: var(--blue-color);
}
.matches{
    padding-top: 3rem;
}
.match{
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.match-info{
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
}
.match-info .match-profile img{
    
    border-radius: 4rem;
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}
.match-info .icon{
    margin-left: auto;
}
.match-info .icon path{
    fill: var(--white-color);
}

.match-content{
    background-color: var(--bg-third);
    border-radius: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.match-icon{
    padding: 2rem .2rem;
}
.match-icon img{
    padding: .8rem;
    border-radius: 2rem;
    width:6rem;
    background-color: var(--bg-secondary);
    
}
.match-host{
    margin-right: 1rem;
}
.match .match-players{
    border-radius: 0 1.5rem 1.5rem 0;
    background-color: var(--bg-secondary);
    color: #000;
    padding: 0 .4rem;
    flex-direction: column;
    justify-content: space-evenly;
}
.match-values{
    border-radius:1rem;
    background-color: var(--grey2-color);
    font-size: var(--fs-text);
}   
.match-values .current-players{
    padding: .25rem .4rem;
}
.match-values .max-players{
    
    padding: .25rem .25rem;
    border-radius:0 1rem 1rem 0;
    background-color: var(--blue-color);
    color:var(--white-color);
}
.match-polygon{
    clip-path: polygon(80% 0, 0% 100%, 100% 100%);
    width: .5rem;
    height:100%;
    margin-right: -1px;
    background-color: var(--blue-color);
}
.match-clip{
    margin-left: .3rem;
    display: inline-block;
    background-color: var(--green-color);
    width: 1rem;
    height: 1rem;
    border-radius:2rem;
}

.btn-absolute{
    position: fixed;
    bottom: 8rem;
    right: 1rem;
    padding:.8rem 1rem;
    font-size: 3rem;
    width:5.5rem;
    height: 5.5rem;
    border-radius:6rem;
}