.match-header{
    display:flex;
    flex-direction:column;
}
.nav-match{
    display:flex;
    align-items:center;
}
.match-icon path{
    fill:var(--white-color);
}
.match-title{
    width:100%;
}
.requests{
    font-size:var(--fs-title);
    position: relative;
}
.count-requests{
    /* display: inline-block; */
    position:absolute;
    bottom:-1rem;
    right:-1rem;
    width: 2.8rem;
    height: 2.8rem;
    background-color: var(--blue-color);
    border-radius: 5rem;
    font-size: var(--fs-title3);
}
.request-container{
    position:absolute;
    top:100%;
    right:0;
    width: 60vw;
    overflow: hidden;
}
.request-list{
    font-size: var(--fs-text);
    text-align: center;
    background-color: var(--bg-third);
    padding: 1rem;
    border-radius: 2rem;
    transform: translateY(-100%);
    transition: .4s;
}
.request-list.toggleDown{
    transform: translateY(0);
}
.request-header{
    display:flex;
}
.request-player{
    width:4rem;
    height:4rem;
}
.request-name{
    font-size:var(--fs-small);
}
.request-player img{
    width:4rem;
    height:4rem;
    object-fit: cover;
    border-radius:6rem;
}
.host{
    display: flex;
    align-items:center;   
}
.host img{
    margin-right: 1rem;
}
.match-details i{
    width:2rem;
    margin-right: 1rem;
}
.match-detail{
    margin-bottom: .5rem;
}
.match-status{
    padding: .5rem 1rem;
    border-radius: 4rem;
    display: inline-block;
}
.match-status.in-game{
    background-color: var(--green-color);
}
.match-status.pregame{
    background-color: var(--blue-color);
}
.match-status.ended{
    background-color: var(--red-color);
}
.match-player-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.match-players{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
/* .match-player{

} */
.match-player img{
    border-radius: 20rem;
    width: 10rem;
    height: 10rem;
}

.match-values{
    width: 6rem;
    height: 3rem;
    border-radius:1rem;
    background-color: var(--grey2-color);
    display: flex;
    justify-content: flex-end;
    font-size: var(--fs-text);
}   
.match-values .current-players{
    padding: .25rem .4rem;
    color: #000;
}
.match-values .max-players{
    
    padding: .25rem .25rem;
    border-radius:0 1rem 1rem 0;
    background-color: var(--blue-color);
    color:var(--white-color);
    height:100%;
}
.match-polygon{
    clip-path: polygon(80% 0, 0% 100%, 100% 100%);
    width: 1.6rem;
    height:100%;
    margin-right: -2px;
    background-color: var(--blue-color);
}

.map-container{
    display: none;
    overflow: hidden;
}
.map-container iframe{
    transition: 1s;
    transform: translateY(-100%);
}
