.navbar{
    background-color: var(--bg-secondary);
    position: fixed;
    z-index: 100;
    width: 100%;
    bottom: 0;
    border-top: 1px solid var(--grey-color);
}
.navbar .navbar-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}
.navbar-list .nav-item{
    padding: 1rem;
    
}
.navbar-list .nav-item path{
    fill: var(--white-color);
}